content

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Intelij Files
.idea/
*.iml

delugevpn
historical/env_files
jackett
lidarr
muximux
sabnzbdvpn
ombi
"plex/Library/Application Support/Plex Media Server/Logs"
portainer
radarr
sonarr
lazylibrarian
tautulli
plex

*.env